.makeStyles-cardFooter-312 {
    /* margin: 0 15px 10px; */
    display: flex;
    padding: 0 0.5rem !important;
    align-items: center;
    padding-top: 0;
    justify-content: space-between;
    background-color: transparent;
}

.makeStyles-white-281 {
    color: #555;
    border: 0;
    padding: 0.625rem 0;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    background-color: #FFF !important;
    margin: 0;
}


.makeStyles-cardFooter-453 {
    margin: 0 15px 10px;
    display: flex;
    padding: 0rem 0rem !important;
    align-items: center;
    padding-top: 0.5rem !important;
    justify-content: space-between;
    background-color: transparent;
    justify-content: center;
}


.makeStyles-cardFooter-659 {
    margin: 0 15px 10px;
    display: flex;
    padding: 0rem 0rem !important;
    align-items: center;
    padding-top: 0.5rem !important;
    justify-content: space-between;
    background-color: transparent;
}



.makeStyles-cardFooter-426 {
    margin: 0 15px 10px;
    display: flex;
    padding: 0rem 0rem !important;
    align-items: center;
    padding-top: 0.5rem !important;
    justify-content: space-between;
    background-color: transparent;
}


#iframeMap{
    width: -webkit-fill-available;
    // height: -webkit-fill-available;
}

iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    width: -webkit-fill-available;
    height: 50rem
}

// .rdt input.form-control {
//   border-radius: 0 ;
//   margin-top: 0 !important;
//   height: 50px;
//   font-weight: 700;
//   border: 1px solid gray;
// }


.css-1wa3eu0-placeholder {
    color: #000 !important;
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box;
  }



  
.makeStyles-expansionPanelSummaryContent-222 {
    margin: 0 !important;
    background: #eee;
    height: 40px;
    justify-content: initial;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    margin: 0;
    color: #000 !important;
  }
  
  .makeStyles-title-225 {
    color: inherit;
    font-size: 18px !important;
    margin-top: 0;
    font-weight: bolder;
    margin-bottom: 0;
  }
  
  
  .makeStyles-roseExpansionPanelSummaryExpaned-223 {
    color: #000 !important;
  }

  .makeStyles-roseExpansionPanelSummaryExpaned-221{
    color: #000 !important;

  }
  
  .MuiExpansionPanelSummary-expandIcon:hover {
    color: #000 !important;
  }
  
  .makeStyles-expansionPanelSummary-206 {
    color: #3C4858;
    padding: 25px 0px 5px 0px !important;
    min-height: auto !important;
    border-bottom: 0px solid #fff;
    background-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  input:-ms-input-placeholder {
    color: #000 !important;
  }