// .makeStyles-grid-191 {
//   margin: 0 auto !important;
// }



.makeStyles-grid-172 {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.mx-auto {
  margin: 0 auto !important;
  margin-top: 80px !important;
}


.makeStyles-grid-192 strong{
  font-weight: 700 !important;
  color: #000 !important;
  font-size: 18px !important;
  margin-bottom: 15px !important;
}

.makeStyles-grid-192 p span{
  margin-bottom: 10px !important;
}