.paystack-btn {
  width: 100%;
  color: #fff !important;
  background-color: #00acc1 !important;
  padding: 12px 30px !important;
}
.btn-disable
{
cursor: not-allowed !important;
pointer-events: none  !important;

/*Button disabled - CSS color class*/
background-color: #c0c0c0 !important;
color: #ffffff !important;

}