// .makeStyles-hidden-79 {
//     width: 0;
// }

// .nav-links-custom{
//     left: 30% !important;
// }

// .makeStyles-white-77 {
//     color: #555;
//     border: 0;
//     padding: 0.625rem 0;
    // box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
//     margin-bottom: 20px;
//     background-color: #FFF !important;
//     margin: 0 !important;
// }

// .heading { 
//     width: 80% !important; 
// }


// h2 {
//     font-size: 2.25rem;
//     line-height: 1.5em;
//     color: #fff;
//     font-weight: 500;
//     font-size: 35px;
// }


// .makeStyles-info-70 {
//     color: #FFF;
//     box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(0, 172, 193, 0.46);
//     background-color: #0d5a94 !important;
// }

// .Home-section-14 {
//     padding: 0px 0 !important;
//     padding-bottom: 0;
//     background-size: cover;
//     background-position: 50%;
//     margin-bottom: 0px !important;
// }




.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #fff !important;
}


.makeStyles-collapse-80 {
    flex-grow: 1;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-box-align: center;
    padding-right: 5rem !important;
}


.makeStyles-manager-116 > div > button:first-child > span:first-child, .makeStyles-manager-116 > div > a:first-child > span:first-child {
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
}


