body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}
/* 
body, h1, h2, h3, h4, h5, h6 {

} */


.makeStyles-expansionPanelSummaryContent-236 {
  margin: 0 !important;
  background: #eee;
  height: 40px;
  justify-content: initial;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  color: #000 !important;
}

.makeStyles-title-239 {
  color: inherit;
  font-size: 18px !important;
  margin-top: 0;
  font-weight: bolder;
  margin-bottom: 0;
}


.makeStyles-roseExpansionPanelSummaryExpaned-235 {
  color: #000 !important;
}

.makeStyles-roseExpansionPanelSummary-227:hover {
  color: #000 !important;
}

.makeStyles-expansionPanelSummary-220 {
  color: #3C4858;
  padding: 25px 0px 5px 0px !important;
  min-height: auto !important;
  border-bottom: 0px solid #fff;
  background-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

input:-ms-input-placeholder {
  color: #000 !important;
}


.makeStyles-primary-162 {
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
  background-color: #029aad !important;
}